EduPlatform Workflows.json
{
  "name": "EduPlatform Workflows",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {}
          ]
        }
      },
      "id": "1d37915f-7731-43d5-8125-a5bc260d735e",
      "name": "⏰ Run Daily at 9 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -496,
        -48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://unostensive-irremediably-anika.ngrok-free.dev/api/admin/check-and-notify-risk",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Bypass-Tunnel-Reminder",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "177f5912-3df2-41ba-b2b2-f0b05b41eb2f",
      "name": "📊 Trigger Backend Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -240,
        -48
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ascSNSRiXy4q40S0",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "canh-bao-hoc-tap",
        "options": {}
      },
      "id": "17e35395-5114-474b-b77a-f356b467a078",
      "name": "👂 Listen for Email Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -496,
        128
      ],
      "webhookId": "REPLACE-WITH-YOUR-WEBHOOK-ID"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.email }}",
        "subject": "điểm thấp chú ý học bài ",
        "message": "điểm thấp chú ý học bài ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -240,
        128
      ],
      "id": "cc18ee47-1aed-4775-9b67-e3d054f482e8",
      "name": "Send a message",
      "webhookId": "1527a9f2-1015-4614-af35-7784d8ebdf4c",
      "credentials": {
        "gmailOAuth2": {
          "id": "zEH02KIOV9lvA9R2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "⏰ Run Daily at 9 AM": {
      "main": [
        [
          {
            "node": "📊 Trigger Backend Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👂 Listen for Email Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ab12d206-6668-425b-88f8-62c50fdda97a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d82b306c1bb42b25c9e37372f95adc91b151bad6ee88a955d33d1c887b13d9b7"
  },
  "id": "IyTrPEHKf5tHznBvki0-P",
  "tags": []
}